@using BookLoanApp.Dto.Home
@model LoginDto

@{
    Layout = "_Layout_NotLogged";
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-dark" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-dark" role="alert">
        @TempData["MensagemErro"]
    </div>
}

<div class="d-flex flex-column min-vh-100 justify-content-center">
    <div class="container" style="width: 75rem; background: #dfdfdf; color:black; font-size: 16px; padding: 70px; border-radius: 5px">
        <form method="post" asp-action="Login" asp-controller="Home">
            <div class="mb-3">
                <label class="form-label">E-mail</label>
                <input type="email" class="form-control" asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" asp-for="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <p class="form-label">Don't have an account? <a asp-action="Register" asp-controller="User" asp-route-id="1">Register</a></p>
            </div>

            <button type="submit" class="btn btn-primary w-100" style="font-size:16px">Login</button>

            <div class="text-center mt-4">
                <span style="font-size: 18px; font-weight: bold;">or</span>
            </div>

            <div class="d-flex justify-content-center mt-3">
                <a asp-controller="Home" asp-action="DemoAdmin" class="btn btn-dark mx-2" style="font-size:16px;">Demo Admin</a>
                <a asp-controller="Home" asp-action="DemoClient" class="btn btn-dark mx-2" style="font-size:16px;">Demo Client</a>
            </div>
        </form>
    </div>
</div>
